legstar-mule-transport/src/main/resources/META-INF/mule-legstar-http-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/legstar/http/2.2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.2"
            xmlns:http="http://www.mulesource.org/schema/mule/http/2.2"
            xmlns:schemadoc="http://www.mulesource.org/schema/mule/schemadoc/2.2"
            targetNamespace="http://www.mulesource.org/schema/mule/legstar/http/2.2"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.2" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.2/mule.xsd" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/http/2.2"
                schemaLocation="http://www.mulesource.org/schema/mule/http/2.2/mule-http.xsd"/>
    <xsd:import namespace = "http://www.mulesource.org/schema/mule/schemadoc/2.2"
                schemaLocation = "http://www.mulesource.org/schema/mule/schemadoc/2.2/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            The LegStar HTTP transport provides support for exposing mainframe services over HTTP.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>LEGSTAR-HTTP</schemadoc:short-name>
            <schemadoc:page-title>LEGSTAR HTTP Transport</schemadoc:page-title>
            <schemadoc:transport-features receiveEvents="true" dispatchEvents="true" responseEvents="true"
                                          requestEvents="true"
                                          transactions="false" streaming="true">
                <schemadoc:inboundMEPs in-out="true" in-optional-out="true"/>
                <schemadoc:outboundMEPs out-in="true" out-optional-in="true"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="legstarHttpConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                This connector provides mainframe HTTP connectivity on top of what is already provided with the Mule [HTTP Transport].
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="legstarHttpConnectorType">
        <xsd:complexContent>
            <xsd:extension base="http:httpConnectorType">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                An inbound LEGSTAR HTTP endpoint exposes a  mainframe service over HTTP.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="http:inboundEndpointType">
                <xsd:attributeGroup ref="proxyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                The LEGSTAR HTTP outbound endpoint allows Mule to send mainframe requests over HTTP.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="http:outboundEndpointType">
                <xsd:attributeGroup ref="adapterAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                Configures a global LEGSTAR HTTP endpoint that can be referenced by services. Services can augment the configuration defined in the global endpoint with local configuration elements.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="http:globalEndpointType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="adapterAttributes">
        <xsd:attribute name="hostCharset" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The mainframe character set (EBCDIC).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="programPropFileName" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    Properties file name holding the target program attributes.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="hostTraceMode" type="xsd:boolean">
            <xsd:annotation>
                <xsd:documentation>
                    True if mainframe server transaction is to produce detailed traces.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="proxyAttributes">
        <xsd:attribute name="hostCharset" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The mainframe character set (EBCDIC).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

</xsd:schema>
